body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}
  
img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

#head {
    min-height: 245px;
    color: #fff;
    text-align: center;
}

#head .bg-image {
    position: absolute;
    background: #333
        url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 255px;
    z-index: -1;
    opacity: 0.4;
}

.content-wrap h3 {
    text-align: center;
    width: 100%;
}
#head h4 {
    padding-top: 15px;
    padding-bottom: 0;
    color: white;
}

#head .content-wrap,
#professional .content-wrap {
    padding: 0 1.5em;
}

#professional {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
    padding-top: 2em;
}

#professional ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

#professional li {
    margin-bottom: 1em;    
    color: #333;    
}

#professional .card {
    background-color: white;
}

.card-content {
    padding: 1.5em;
}

#projects {
    background: #fff;
    color: #333;
    padding: 2em;
}

#projects .card-content h3{
    background-color: #eaeaea;
}

#projects h4{
    text-align: left;
}

#projects ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#projects li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
    text-align: left;
}

/* Footer */
#main-footer {
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
}

#main-footer a {
    color: #2690d4;
    text-decoration: none;
}

  /* Media Queries */  
@media (min-width: 700px) {
    #projects .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    .content-wrap,
    #projects ul {
        grid-column: 2/4;
    }

    .box,
    #main-footer div {
        grid-column: span 2;
    }

    #projects ul {
        display: flex;
        justify-content: space-around;
    }

    #projects li {
        width: 31%;
    }
}